@font-face {
    font-family: TTHovermedium;
    src: url(/assets/font/TTHoves-Medium.eot),
        url(/assets/font/TTHoves-Medium.ttf),
        url(/assets/font/TTHoves-Medium.woff);
}

@font-face {
    font-family: SFProDisplay-Bold;
    src: url(/assets/font/SFProDisplay-Bold.eot),
        url(/assets/font/SFProDisplay-Bold.ttf),
        url(/assets/font/SFProDisplay-Bold.woff);
}

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-rows: minmax(100px, auto) 1fr minmax(417px, auto);
    min-height: 100%;
}

.main {
    max-height: 100%;
}

.main_page1 {
    display: grid;
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: 8% 32% 55% 5%;
    margin-bottom: 120px;

}

.page1_project {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 2fr;
}

.page1_title1 {
    font-family: 'TTHoverRegular', Arial, sans-serif;
    font-size: 4em;
    color: #BDBDBD;
    display: grid;
    justify-content: left;
    align-content: end;
}

.page1_title2 {
    font-family: 'TTHovermedium', Arial, sans-serif;
    font-size: 4em;
    font-weight: bold;
}

.page1_left {
    background-color: white;
    border: 1px solid #F2F2F2;
    width: 15%;
    height: 30%;
}

.page1_right {
    background-color: #F9F9F9;
    border: 1px solid #F2F2F2;
    width: 15%;
    height: 30%;
}

.page1_number {
    display: grid;
    align-content: start;

}

.page1_picture {
    height: 90vh;
    background-image: url(/assets/images/page1/house.png);
    background-size: cover;

    display: flex;
    align-items: flex-end;
}

.page1_view {
    background-color: white;
    width: 25%;
    height: 10%;
    border: none;
    font-family: 'TTHoverRegular', Arial, sans-serif;
    font-size: 0.75em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_about {
    margin-left: 135px;
    margin-right: 135px;
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: #FBFBFB;
}

.about_text {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

.title {
    font-family: 'TTHoverRegular', Arial, sans-serif;
    font-size: 4em;
    color: rgba(189, 189, 189, 1);
    display: grid;
    align-items: center;
}

.about_company {
    font-family: 'TTHoverRegular', Arial, sans-serif;
    font-size: 1em;
    line-height: 25px;
}

.about_button {
    background-color: white;
    width: 35%;
    height: 50%;
    border: none;
    font-family: 'TTHoverRegular', Arial, sans-serif;
    font-size: 0.75em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_pictures {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.about_img1 {
    grid-column: 1/2;
    padding-top: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.about_img2 {
    grid-area: 1/2/3/3;
    display: grid;
    justify-content: center;
    align-content: center;
}

.about_img3 {
    grid-area: 2/1/3/2;
    display: grid;
    justify-content: center;
    padding-top: 30px;
}

.about_img1 img,
.about_img2 img,
.about_img3 img {
    width: 100%;
}


.main_maintask {
    margin-left: 135px;
    margin-right: 135px;
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 3fr;
}

.maintask_title {
    grid-area: 1/1/2/4;
}

.maintask_task1 {
    grid-area: 2/1/3/2;
    display: flex;
}

.maintask_task2 {
    grid-area: 2/3/3/4;
    display: flex;
}

.maintask_number {
    font-family: 'SFProDisplay-Bold', Arial, sans-serif;
    font-size: 12.5em;
    color: rgba(242, 242, 242, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.maintask_text {
    font-family: 'TTHoverRegular', Arial, sans-serif;
    font-size: 1.375em;
    line-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_project {
    margin-left: 135px;
    margin-right: 135px;
    margin-bottom: 120px;
    display: grid;
    grid-template-rows: repeat(autofit, minmax(100px, 1fr));
    gap: 10px;
}

.project_items {
    display: grid;
    grid-template-columns: 23% 23% 17% 37%;
    grid-template-rows: repeat(2, minmax(1fr, 255px));
    gap: 20px;
}

.project_item1 {
    grid-area: 1/1/2/3;
    background-image: url(/assets/images/page1/Rectangle12.svg);
    background-size: cover;
    display: grid;
    padding: 10%;
}

.item1_title {
    font-family: 'TTHovermedium;', Arial, sans-serif;
    font-size: 4em;
    font-weight: bold;
    color: white;

}

.project_button1 {
    background-color: transparent;
    border: none;
    font-family: 'Gothic A1', Arial, sans-serif;
    font-size: 0.75em;
    color: #FFFFFF;
    width: 35%;
    text-align: left;

}

.project_button2 {
    background-color: #2C2C2C;
    color: white;
    width: 20%;
    min-height: 70px;
    font-family: 'TTHoverRegular', Arial, sans-serif;
    font-size: 0.75em;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 84%;

}

.project_item2 {
    grid-area: 1/3/2/5;
}

.project_item2 img,
.project_item3 img,
.project_item4 img,
.project_item5 img {
    width: 100%;
    height: 100%;
}

.project_item3 {
    grid-area: 2/1/3/2;
}

.project_item4 {
    grid-area: 2/2/3/4;
}

.project_item5 {
    grid-area: 2/4/3/5;
}

.main_contact {
    margin-left: 135px;
    margin-right: 135px;
    margin-bottom: 120px;
    display: grid;
    gap: 20px;
    grid-template-columns: 35% 65%;
    grid-template-rows: repeat(autofit, minmax(70px, 1fr))
}

.contact_title {
    grid-area: 1/1/2/3;
}

.contact_text {
    grid-area: 3/1/4/2;
    font-family: 'TTHoverRegular', Arial, sans-serif;
    font-size: 0.875em;
    color: #333333;
    width: 70%;
    justify-content: center;

}

.contact_button {
    grid-area: 4/1/5/2;

}

.contact_form {
    display: grid;
    gap: 10px;
}

.input {
    background-color: #F3F3F3;
    border: none;
    font-family: 'TTHoverRegular', Arial, sans-serif;
    font-size: 0.875em;
    width: 90%;
    padding-left: 10px;
}

.contact_button {
    background-color: #2C2C2C;
    color: white;
    width: 50%;
    min-height: 70px;
    font-family: 'TTHoverRegular', Arial, sans-serif;
    font-size: 0.75em;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.contact_button img {
    text-align: end;
}

.contact_image img {
    width: 100%;
}