.wrapper {
    display: grid;
    grid-template-rows: minmax(100px, auto) 1fr minmax(417px, auto);
    min-height: 100%;
}

.main {
    max-height: 100%;

}
.certificate{
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;

}
.certificate_title1 {
    font-family: 'TTHoverRegular', Arial, sans-serif;
    font-size: 4em;
    color: #BDBDBD;
    display: grid;
    justify-content: left;
    align-content: end;
}

.certificate_title2 {
    font-family: 'TTHovermedium', Arial, sans-serif;
    font-size: 4em;
    font-weight: bold;
}
.certificate_items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.certificate_arrows {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.certificate_number,
.certificate_left,
.certificate_right {
    margin: 10px;
}

.certificate_left,
.certificate_right{
    background-color: white;
    border:1px solid #F2F2F2;
}
.certificate_left:hover{
    background-color:#F2F2F2 ;
}
.certificate_right:hover{
    background-color:#F2F2F2 ;
}
@media screen and (max-width:767px){
    .certificate_items{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr ;
    }
    .certificate_item1 img{
        width: 100%;
    }
    .certificate_title1,
    .certificate_title2{
        font-size: 2em;
    }
}